@model StellerPortfolio.Models.TblSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yetenek Güncelleme Sayfası</h3>

<form method="post">
    @Html.HiddenFor(x=>x.SkillId)
    <label>Yetenek Adı</label>
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    <br />
    <label>Yüzdelik Değer</label>
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>

</form>